<nav class="fixed w-full bg-white shadow z-50">

  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 h-16">

    <!-- LOGO -->
  <div class="flex items-center h-full">
  <img src="assets/logo/nexonalogo.png"
       alt="Nexora Tech"
       class="h-12 w-auto object-contain">
        <h2>Nexora</h2>
    </div>

    <!-- MENU -->
    <div class="hidden md:flex gap-6 items-center">

      <a routerLink="/" class="hover:text-blue-600">Home</a>
      <a routerLink="/securedeck" class="hover:text-blue-600">SecureDeck</a>
      <a routerLink="/services" class="hover:text-blue-600">Services</a>
      <a routerLink="/pricing" class="hover:text-blue-600">Pricing</a>
      <a routerLink="/contact" class="hover:text-blue-600">Contact</a>

      <button class="bg-blue-600 text-white px-4 py-2 rounded-lg">
        Book Demo
      </button>

    </div>

  </div>

</nav>  