<nav class="fixed w-full bg-white shadow z-50">
  <div class="max-w-7xl mx-auto flex justify-between items-center p-4">

    <h1 class="text-xl font-bold text-blue-600">Nexora</h1>

    <div class="hidden md:flex gap-6 items-center">
      
      <a routerLink="/" class="hover:text-blue-600">Home</a>
      <a routerLink="/securedeck" class="hover:text-blue-600">SecureDeck</a>
      <a routerLink="/services" class="hover:text-blue-600">Services</a>
      
      <a class="hover:text-blue-600 cursor-pointer">Products</a>
      <a class="hover:text-blue-600 cursor-pointer">Pricing</a>
     <a routerLink="/contact" class="cursor-pointer hover:text-blue-600">
  Contact
</a>

      <button class="bg-blue-600 text-white px-4 py-2 rounded-lg">
        Book Demo
      </button>
    </div>

  </div>
</nav>